
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :titre %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :texte %><br> 
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>